<!-- Optional additional links to insert for icons links -->
<script src="https://kit.fontawesome.com/af78fe2799.js" crossorigin="anonymous"></script>
<a id="github-page"
    class="icon"
    title="GitHub" aria-label="GitHub repository"
    href="https://github.com/Mersorcium/mersorcium.github.io">
      {% include svg/github.svg %}
</a>

<a id="google-groups"
    class="icon"
    title="Google Groups" aria-label="Google Groups"
    href="https://groups.google.com/g/mersorcium">
      {% include svg/google-groups.svg %}
</a>

<a id="send-email"
    class="icon"
    title="Send Email" aria-label="Send Email"
    href="mailto: mersorcium@gmail.com">
    <i class="fa-sharp fa-regular fa-envelope"></i>
      <!-- {% include svg/email.svg %} -->
</a>
