<div class="section">
    <h1 class="section-title underline">News</h1>
    <p class="seminar-title"><span class="newstype">Online Seminar</span> Exploring the role of demethylation of MeHg induced toxicity in vitro and in vivo: using merB as a model</p>
    <p>Speaker: Dr. Ian Krout</p>
    <!-- <a href="https://youtu.be/16cejGujTSA">&raquo; View history recording in Mersorcium YouTube Channel</a> -->
    <img src="{{ "/posters/Seminar-20230411-krout.jpg" | relative_url }}" alt="poster" />
    <a href="https://stockholmuniversity.zoom.us/j/62030367445">&raquo; Click here to enter the zoom meeting</a>
</div>

