
<div class="section">
    <h1 class="section-title underline">News</h1>
    <p class="seminar-title"><span class="newstype">Online Seminar</span> Exploring the Fourth Corner of Mercury Methylation in Prairie Wetland Ponds</p>
    <p><span class="newstype">speaker</span> Zohra Zahir (University of Regina)</p>
    <!-- <a href="https://youtu.be/16cejGujTSA">&raquo; View history recording in Mersorcium YouTube Channel</a> -->
    <img src="{{ "/posters/Seminar-20230518-zahir.jpg" | relative_url }}" alt="poster" />
    <a href="#">&raquo; The Zoom link will be created soon...</a>
</div>
