
<div class="section">
    <h1 class="section-title underline">News</h1>
    <p class="seminar-title"><span class="newstype">Discussion Session</span> Identification and verification of merAB genes</p>
    <p><span class="newstype">Speaker:</span> </p>
    <!-- <a href="https://youtu.be/16cejGujTSA">&raquo; View history recording in Mersorcium YouTube Channel</a> -->
    <img src="{{ "/posters/Poster-DiscussionSession-20250227.jpg" | relative_url }}" alt="poster" />
    <a href="#">&raquo; The Zoom link will be created soon...</a>
</div>
