<div class="section">
    <h1 class="section-title underline">What we do</h1>
    <div id="whatwedo"> 
        <div class="our-work">
            <div class="work-icon"><img src="{{ "/assets/newsletter.svg" | relative_url }}" alt="newsletter" /></div>
            <p class="work-title">Newsletters</p>
            <p>Join our mailing list to become a member of Mersorcium and receive newsletters. You can also message the group through
            the google group email address to share information about conferences, publications and job positions and suggest
            collaborative projects!</p>
            <a href="https://forms.gle/hHiuEAQUekYsDoAN6" target="_blank">&raquo; Join mailing list</a>
            <!-- <button class="button-join" role="button" onclick="window.location.href='https://forms.gle/hHiuEAQUekYsDoAN6'"
                type="button">Join mailing list</button> -->
        </div>
        <div class="our-work">
            <div class="work-icon"><img src="{{ "/assets/literature.svg" | relative_url }}" alt="literature review" /></div>
            <p class="work-title">Literature Survey</p>
            <p>We know how important it is to stay informed and how difficult it can be. To make this easier for all of you, we created
            a Google Scholar profile with all the information you may need about mercury cycling and its relation to microorganisms.</p>
            <a href="https://scholar.google.com/citations?hl=en&user=cKPippMAAAAJ&view_op=list_works&authuser=3&sortby=pubdate" target="_blank">&raquo; Follow us</a>
            <!-- <button class="button-join" role="button" onclick="window.location.href='https://scholar.google.com/citations?hl=en&user=cKPippMAAAAJ&view_op=list_works&authuser=3&sortby=pubdate'"
                type="button">Follow us</button> -->
        </div>
        <div class="our-work">
            <div class="work-icon"><img src="{{ "/assets/seminar.svg" | relative_url }}" alt="seminar" /></div>
            <p class="work-title">Seminars</p>
            <p>We organize monthly online seminars for researchers to present their work. Mersorcium members are welcome to attend the 
                seminars and communicate with colleagues. Senior researchers, early post-docs and PhD 
                students are all welcome to present.
            </p>
            <a href="https://forms.gle/6nYcJTwJUn4Cx2gh6" target="_blank">&raquo; I want to present</a>
            <a href="./category/1-events.html" target="_blank">&raquo; See our history events</a>
            <!-- <button class="button-join" role="button" onclick="window.location.href='https://forms.gle/6nYcJTwJUn4Cx2gh6'"
                type="button">I want to present</button> -->
        </div>
        
    </div>
</div>
